[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
aniso8601 = "*"
attrs = "*"
click = "*"
dnspython = "*"
email-validator = "*"
idna = "*"
cffi = "*"
cryptography = "*"
flask-cors = "*"
importlib-metadata = "*"
itsdangerous = "*"
more-itertools = "*"
password-strength = "*"
pluggy = "*"
py = "*"
pytest = "*"
pycparser = "*"
pyparsing = "*"
pytest-flask = "*"
pytz = "*"
six = "*"
wcwidth = "*"
zipp = "*"
flask-restful = "*"
flask-sqlalchemy = "*"
jinja2 = "*"
markupsafe = "*"
sqlalchemy = "*"
werkzeug = "*"
flasgger = "*"
flask-jwt-extended = "*"
psycopg2 = "==2.7.7"
python-dotenv = "*"

[requires]
python_version = "3.8.3"
