[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pytest = "*"
pytest-flask = "*"
pre-commit = "*"

[packages]
flask = "*"
aniso8601 = "*"
attrs = "*"
click = "*"
dnspython = "*"
email-validator = "*"
idna = "*"
cffi = "*"
cryptography = "*"
flask-cors = "*"
importlib-metadata = "*"
itsdangerous = "*"
more-itertools = "*"
password-strength = "*"
pluggy = "*"
py = "*"
pycparser = "*"
pyparsing = "*"
pytz = "*"
six = "*"
wcwidth = "*"
zipp = "*"
flask-restful = "*"
flask-sqlalchemy = "*"
jinja2 = "*"
markupsafe = "*"
sqlalchemy = "*"
werkzeug = "*"
flask-jwt-extended = "*"
python-dotenv = "*"
bcrypt = "*"
psycopg2-binary = "*"

[requires]
python_version = "3.8"
