import os
import datetime
from dotenv import load_dotenv


BASEDIR = os.path.abspath(os.path.dirname(__file__))
PROJECT_ROOT = os.path.abspath(os.path.join(BASEDIR, os.pardir))
load_dotenv(os.path.join(PROJECT_ROOT, ".env"))

FLASK_ENV = 'testing'

JWT_SECRET_KEY = 'this_is_jwt_secret_key'
# DEBUG = True

# JWT Tokens life-span config
JWT_ACCESS_TOKEN_EXPIRES = datetime.timedelta(minutes=int(os.environ["JWT_ACCESS_TOKEN_EXPIRES_MINUTES"]))
JWT_REFRESH_TOKEN_EXPIRES = datetime.timedelta(days=int(os.environ["JWT_REFRESH_TOKEN_EXPIRES_DAYS"]))

# Bcrypt algorithm hashing rounds (reduced for testing purposes only!)
BCRYPT_LOG_ROUNDS = 4

# Enable the TESTING flag to disable the error catching during request handling
# so that you get better error reports when performing test requests against the application.
TESTING = True

# Disable CSRF tokens in the Forms (only valid for testing purposes!)
WTF_CSRF_ENABLED = False

#Blacklist settings
JWT_BLACKLIST_ENABLED = True
JWT_BLACKLIST_TOKEN_CHECKS =  ['access', 'refresh']

#JWT-extended
JWT_ERROR_MESSAGE_KEY = 'message'
JWT_HEADER_TYPE = ''

DYNAMODB_TABLE_NAME_USERS = 'users'
DYNAMODB_TABLE_NAME_BLACKLIST = 'blacklist'
